name = "api"
main = "src/index.js"
compatibility_date = "2024-01-01"

[vars]
ORIGIN_URL = "https://megg-api.vercel.app"

DEFAULT_CACHE_TTL = "300" 
MAX_CACHE_TTL = "3600"     

[env.production]
name = "megg-api-edge-cache"

[env.staging]
name = "megg-api-edge-cache-staging"


[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1